# Created by .ignore support plugin (hsz.mobi)
.idea/.name
/node_modules
/.idea
bower_components
.idea
doc
bin
obj
.ntvs_analysis.dat
.vs
jsSqlServerFormatter.njsproj
jsSqlServerFormatter1.njsproj
jsSqlServerFormatter.sln
